.productBlock {
    border: 1px solid #bdbdbd;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.col1 {
    padding: .5rem;
}

.col2 {
    padding: .5rem;
}

button.removeProduct {
    position: absolute;
    right: 3%;
    padding: 10px;
}

.inlineRow{
    display: inline-block;
}

h2 {
}
